schema/AccountService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:zimbraAccount" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:zimbraAccount" name="AccountService">
  <types>
    <xsd:schema>
      <xsd:import namespace="urn:zimbraAccount" schemaLocation="zimbraAccount.xsd"></xsd:import>
    </xsd:schema>
  </types>

  <message name="authRequest">
    <part name="parameters" element="tns:AuthRequest"></part>
  </message>
  <message name="authResponse">
    <part name="parameters" element="tns:AuthResponse"></part>
  </message>

  <message name="changePasswordRequest">
    <part name="parameters" element="tns:ChangePasswordRequest"></part>
  </message>
  <message name="changePasswordResponse">
    <part name="parameters" element="tns:ChangePasswordResponse"></part>
  </message>

  <message name="getIdentitiesRequest">
    <part name="parameters" element="tns:GetIdentitiesRequest"></part>
  </message>
  <message name="getIdentitiesResponse">
    <part name="parameters" element="tns:GetIdentitiesResponse"></part>
  </message>

  <message name="getInfoRequest">
    <part name="parameters" element="tns:GetInfoRequest"></part>
  </message>
  <message name="getInfoResponse">
    <part name="parameters" element="tns:GetInfoResponse"></part>
  </message>

  <message name="getSignaturesRequest">
    <part name="parameters" element="tns:GetSignaturesRequest"></part>
  </message>
  <message name="getSignaturesResponse">
    <part name="parameters" element="tns:GetSignaturesResponse"></part>
  </message>

  <portType name="AccountService">
    <operation name="authRequest">
      <input message="tns:authRequest"/>
      <output message="tns:authResponse"/>
    </operation>
    <operation name="changePasswordRequest">
      <input message="tns:changePasswordRequest"/>
      <output message="tns:changePasswordResponse"/>
    </operation>
    <operation name="getIdentitiesRequest">
      <input message="tns:getIdentitiesRequest"/>
      <output message="tns:getIdentitiesResponse"/>
    </operation>
    <operation name="getInfoRequest">
      <input message="tns:getInfoRequest"/>
      <output message="tns:getInfoResponse"/>
    </operation>
    <operation name="getSignaturesRequest">
      <input message="tns:getSignaturesRequest"/>
      <output message="tns:getSignaturesResponse"/>
    </operation>
  </portType>

  <binding name="AccountServicePortBinding" type="tns:AccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
    <operation name="authRequest">
      <soap:operation soapAction=""></soap:operation>
      <input>
	<soap:body use="literal"></soap:body>
      </input>
      <output>
	<soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="changePasswordRequest">
      <soap:operation soapAction=""></soap:operation>
      <input>
	<soap:body use="literal"></soap:body>
      </input>
      <output>
	<soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="getIdentitiesRequest">
      <soap:operation soapAction=""></soap:operation>
      <input>
	<soap:body use="literal"></soap:body>
      </input>
      <output>
	<soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="getInfoRequest">
      <soap:operation soapAction=""></soap:operation>
      <input>
	<soap:body use="literal"></soap:body>
      </input>
      <output>
	<soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="getSignaturesRequest">
      <soap:operation soapAction=""></soap:operation>
      <input>
	<soap:body use="literal"></soap:body>
      </input>
      <output>
	<soap:body use="literal"></soap:body>
      </output>
    </operation>
  </binding>

  <service name="AccountService">
    <port name="AccountServicePort" binding="tns:AccountServicePortBinding">
      <soap:address location="http://localhost:7070/service/soap"></soap:address>
    </port>
  </service>
</definitions>
