schema/AdminService.wsdl

<?xml version='1.0' encoding='utf-8'?>
<definitions xmlns:tns="urn:zimbraAdmin" xmlns:zimbra="urn:zimbra" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:zimbraAdmin" name="AdminService">

  <types>
    <xsd:schema>
      <xsd:import namespace="urn:zimbra" schemaLocation="zimbra.xsd"/>
      <xsd:import namespace="urn:zimbraAdmin" schemaLocation="zimbraAdmin.xsd"/>
    </xsd:schema>
  </types>

  <message name="addAccountAliasRequest">
    <part name="parameters" element="tns:AddAccountAliasRequest"/>
  </message>
  <message name="addAccountAliasResponse">
    <part name="parameters" element="tns:AddAccountAliasResponse"/>
  </message>

  <message name="authRequest">
    <part name="parameters" element="tns:AuthRequest"/>
  </message>
  <message name="authResponse">
    <part name="parameters" element="tns:AuthResponse"/>
  </message>

  <message name="checkPasswordStrengthRequest">
    <part name="parameters" element="tns:CheckPasswordStrengthRequest"/>
  </message>
  <message name="checkPasswordStrengthResponse">
    <part name="parameters" element="tns:CheckPasswordStrengthResponse"/>
  </message>

  <message name="copyCosRequest">
    <part name="parameters" element="tns:CopyCosRequest"/>
  </message>
  <message name="copyCosResponse">
    <part name="parameters" element="tns:CopyCosResponse"/>
  </message>

  <message name="createAccountRequest">
    <part name="parameters" element="tns:CreateAccountRequest"/>
  </message>
  <message name="createAccountResponse">
    <part name="parameters" element="tns:CreateAccountResponse"/>
  </message>

  <message name="createCosRequest">
    <part name="parameters" element="tns:CreateCosRequest"/>
  </message>
  <message name="createCosResponse">
    <part name="parameters" element="tns:CreateCosResponse"/>
  </message>

  <message name="createDomainRequest">
    <part name="parameters" element="tns:CreateDomainRequest"/>
  </message>
  <message name="createDomainResponse">
    <part name="parameters" element="tns:CreateDomainResponse"/>
  </message>

  <message name="createServerRequest">
    <part name="parameters" element="tns:CreateServerRequest"/>
  </message>
  <message name="createServerResponse">
    <part name="parameters" element="tns:CreateServerResponse"/>
  </message>

  <message name="delegateAuthRequest">
    <part name="parameters" element="tns:DelegateAuthRequest"/>
  </message>
  <message name="delegateAuthResponse">
    <part name="parameters" element="tns:DelegateAuthResponse"/>
  </message>

  <message name="deleteAccountRequest">
    <part name="parameters" element="tns:DeleteAccountRequest"/>
  </message>
  <message name="deleteAccountResponse">
    <part name="parameters" element="tns:DeleteAccountResponse"/>
  </message>

  <message name="deleteCosRequest">
    <part name="parameters" element="tns:DeleteCosRequest"/>
  </message>
  <message name="deleteCosResponse">
    <part name="parameters" element="tns:DeleteCosResponse"/>
  </message>

  <message name="deleteDomainRequest">
    <part name="parameters" element="tns:DeleteDomainRequest"/>
  </message>
  <message name="deleteDomainResponse">
    <part name="parameters" element="tns:DeleteDomainResponse"/>
  </message>

  <message name="deleteServerRequest">
    <part name="parameters" element="tns:DeleteServerRequest"/>
  </message>
  <message name="deleteServerResponse">
    <part name="parameters" element="tns:DeleteServerResponse"/>
  </message>

  <message name="getAccountInfoRequest">
    <part name="parameters" element="tns:GetAccountInfoRequest"/>
  </message>
  <message name="getAccountInfoResponse">
    <part name="parameters" element="tns:GetAccountInfoResponse"/>
  </message>

  <message name="getAccountMembershipRequest">
    <part name="parameters" element="tns:GetAccountMembershipRequest"/>
  </message>
  <message name="getAccountMembershipResponse">
    <part name="parameters" element="tns:GetAccountMembershipResponse"/>
  </message>

  <message name="getAccountRequest">
    <part name="parameters" element="tns:GetAccountRequest"/>
  </message>
  <message name="getAccountResponse">
    <part name="parameters" element="tns:GetAccountResponse"/>
  </message>

  <message name="getAllAccountsRequest">
    <part name="parameters" element="tns:GetAllAccountsRequest"/>
  </message>
  <message name="getAllAccountsResponse">
    <part name="parameters" element="tns:GetAllAccountsResponse"/>
  </message>

  <message name="getAllAdminAccountsRequest">
    <part name="parameters" element="tns:GetAllAdminAccountsRequest"/>
  </message>
  <message name="getAllAdminAccountsResponse">
    <part name="parameters" element="tns:GetAllAdminAccountsResponse"/>
  </message>

  <message name="getAllCosRequest">
    <part name="parameters" element="tns:GetAllCosRequest"/>
  </message>
  <message name="getAllCosResponse">
    <part name="parameters" element="tns:GetAllCosResponse"/>
  </message>

  <message name="getAllDomainsRequest">
    <part name="parameters" element="tns:GetAllDomainsRequest"/>
  </message>
  <message name="getAllDomainsResponse">
    <part name="parameters" element="tns:GetAllDomainsResponse"/>
  </message>

  <message name="getAllServersRequest">
    <part name="parameters" element="tns:GetAllServersRequest"/>
  </message>
  <message name="getAllServersResponse">
    <part name="parameters" element="tns:GetAllServersResponse"/>
  </message>

  <message name="getCosRequest">
    <part name="parameters" element="tns:GetCosRequest"/>
  </message>
  <message name="getCosResponse">
    <part name="parameters" element="tns:GetCosResponse"/>
  </message>

  <message name="getDomainInfoRequest">
    <part name="parameters" element="tns:GetDomainInfoRequest"/>
  </message>
  <message name="getDomainInfoResponse">
    <part name="parameters" element="tns:GetDomainInfoResponse"/>
  </message>

  <message name="getDomainRequest">
    <part name="parameters" element="tns:GetDomainRequest"/>
  </message>
  <message name="getDomainResponse">
    <part name="parameters" element="tns:GetDomainResponse"/>
  </message>

  <message name="getServerRequest">
    <part name="parameters" element="tns:GetServerRequest"/>
  </message>
  <message name="getServerResponse">
    <part name="parameters" element="tns:GetServerResponse"/>
  </message>

  <message name="getServerStatsRequest">
    <part name="parameters" element="tns:GetServerStatsRequest"/>
  </message>
  <message name="getServerStatsResponse">
    <part name="parameters" element="tns:GetServerStatsResponse"/>
  </message>

  <message name="modifyAccountRequest">
    <part name="parameters" element="tns:ModifyAccountRequest"/>
  </message>
  <message name="modifyAccountResponse">
    <part name="parameters" element="tns:ModifyAccountResponse"/>
  </message>

  <message name="modifyCosRequest">
    <part name="parameters" element="tns:ModifyCosRequest"/>
  </message>
  <message name="modifyCosResponse">
    <part name="parameters" element="tns:ModifyCosResponse"/>
  </message>

  <message name="modifyDomainRequest">
    <part name="parameters" element="tns:ModifyDomainRequest"/>
  </message>
  <message name="modifyDomainResponse">
    <part name="parameters" element="tns:ModifyDomainResponse"/>
  </message>

  <message name="modifyServerRequest">
    <part name="parameters" element="tns:ModifyServerRequest"/>
  </message>
  <message name="modifyServerResponse">
    <part name="parameters" element="tns:ModifyServerResponse"/>
  </message>

  <message name="reloadLocalConfigRequest">
    <part name="parameters" element="tns:ReloadLocalConfigRequest"/>
  </message>
  <message name="reloadLocalConfigResponse">
    <part name="parameters" element="tns:ReloadLocalConfigResponse"/>
  </message>

  <message name="removeAccountAliasRequest">
    <part name="parameters" element="tns:RemoveAccountAliasRequest"/>
  </message>
  <message name="removeAccountAliasResponse">
    <part name="parameters" element="tns:RemoveAccountAliasResponse"/>
  </message>

  <message name="renameAccountRequest">
    <part name="parameters" element="tns:RenameAccountRequest"/>
  </message>
  <message name="renameAccountResponse">
    <part name="parameters" element="tns:RenameAccountResponse"/>
  </message>

  <message name="renameCosRequest">
    <part name="parameters" element="tns:RenameCosRequest"/>
  </message>
  <message name="renameCosResponse">
    <part name="parameters" element="tns:RenameCosResponse"/>
  </message>

  <message name="searchDirectoryRequest">
    <part name="parameters" element="tns:SearchDirectoryRequest"/>
  </message>
  <message name="searchDirectoryResponse">
    <part name="parameters" element="tns:SearchDirectoryResponse"/>
  </message>

  <message name="setPasswordRequest">
    <part name="parameters" element="tns:SetPasswordRequest"/>
  </message>
  <message name="setPasswordResponse">
    <part name="parameters" element="tns:SetPasswordResponse"/>
  </message>

  <message name="soapHdrContext">
    <part name="context" element="zimbra:context"/>
  </message>

  <portType name="AdminService">
    <operation name="addAccountAliasRequest">
      <input message="tns:addAccountAliasRequest"/>
      <output message="tns:addAccountAliasResponse"/>
    </operation>
    <operation name="authRequest">
      <input message="tns:authRequest"/>
      <output message="tns:authResponse"/>
    </operation>
    <operation name="checkPasswordStrengthRequest">
      <input message="tns:checkPasswordStrengthRequest"/>
      <output message="tns:checkPasswordStrengthResponse"/>
    </operation>
    <operation name="copyCosRequest">
      <input message="tns:copyCosRequest"/>
      <output message="tns:copyCosResponse"/>
    </operation>
    <operation name="createAccountRequest">
      <input message="tns:createAccountRequest"/>
      <output message="tns:createAccountResponse"/>
    </operation>
    <operation name="createCosRequest">
      <input message="tns:createCosRequest"/>
      <output message="tns:createCosResponse"/>
    </operation>
    <operation name="createDomainRequest">
      <input message="tns:createDomainRequest"/>
      <output message="tns:createDomainResponse"/>
    </operation>
    <operation name="createServerRequest">
      <input message="tns:createServerRequest"/>
      <output message="tns:createServerResponse"/>
    </operation>
    <operation name="delegateAuthRequest">
      <input message="tns:delegateAuthRequest"/>
      <output message="tns:delegateAuthResponse"/>
    </operation>
    <operation name="deleteAccountRequest">
      <input message="tns:deleteAccountRequest"/>
      <output message="tns:deleteAccountResponse"/>
    </operation>
    <operation name="deleteCosRequest">
      <input message="tns:deleteCosRequest"/>
      <output message="tns:deleteCosResponse"/>
    </operation>
    <operation name="deleteDomainRequest">
      <input message="tns:deleteDomainRequest"/>
      <output message="tns:deleteDomainResponse"/>
    </operation>
    <operation name="deleteServerRequest">
      <input message="tns:deleteServerRequest"/>
      <output message="tns:deleteServerResponse"/>
    </operation>
    <operation name="getAccountInfoRequest">
      <input message="tns:getAccountInfoRequest"/>
      <output message="tns:getAccountInfoResponse"/>
    </operation>
    <operation name="getAccountMembershipRequest">
      <input message="tns:getAccountMembershipRequest"/>
      <output message="tns:getAccountMembershipResponse"/>
    </operation>
    <operation name="getAccountRequest">
      <input message="tns:getAccountRequest"/>
      <output message="tns:getAccountResponse"/>
    </operation>
    <operation name="getAllAccountsRequest">
      <input message="tns:getAllAccountsRequest"/>
      <output message="tns:getAllAccountsResponse"/>
    </operation>
    <operation name="getAllAdminAccountsRequest">
      <input message="tns:getAllAdminAccountsRequest"/>
      <output message="tns:getAllAdminAccountsResponse"/>
    </operation>
    <operation name="getAllCosRequest">
      <input message="tns:getAllCosRequest"/>
      <output message="tns:getAllCosResponse"/>
    </operation>
    <operation name="getAllDomainsRequest">
      <input message="tns:getAllDomainsRequest"/>
      <output message="tns:getAllDomainsResponse"/>
    </operation>
    <operation name="getAllServersRequest">
      <input message="tns:getAllServersRequest"/>
      <output message="tns:getAllServersResponse"/>
    </operation>
    <operation name="getCosRequest">
      <input message="tns:getCosRequest"/>
      <output message="tns:getCosResponse"/>
    </operation>
    <operation name="getDomainInfoRequest">
      <input message="tns:getDomainInfoRequest"/>
      <output message="tns:getDomainInfoResponse"/>
    </operation>
    <operation name="getDomainRequest">
      <input message="tns:getDomainRequest"/>
      <output message="tns:getDomainResponse"/>
    </operation>
    <operation name="getServerRequest">
      <input message="tns:getServerRequest"/>
      <output message="tns:getServerResponse"/>
    </operation>
    <operation name="getServerStatsRequest">
      <input message="tns:getServerStatsRequest"/>
      <output message="tns:getServerStatsResponse"/>
    </operation>
    <operation name="modifyAccountRequest">
      <input message="tns:modifyAccountRequest"/>
      <output message="tns:modifyAccountResponse"/>
    </operation>
    <operation name="modifyCosRequest">
      <input message="tns:modifyCosRequest"/>
      <output message="tns:modifyCosResponse"/>
    </operation>
    <operation name="modifyDomainRequest">
      <input message="tns:modifyDomainRequest"/>
      <output message="tns:modifyDomainResponse"/>
    </operation>
    <operation name="modifyServerRequest">
      <input message="tns:modifyServerRequest"/>
      <output message="tns:modifyServerResponse"/>
    </operation>
    <operation name="reloadLocalConfigRequest">
      <input message="tns:reloadLocalConfigRequest"/>
      <output message="tns:reloadLocalConfigResponse"/>
    </operation>
    <operation name="removeAccountAliasRequest">
      <input message="tns:removeAccountAliasRequest"/>
      <output message="tns:removeAccountAliasResponse"/>
    </operation>
    <operation name="renameAccountRequest">
      <input message="tns:renameAccountRequest"/>
      <output message="tns:renameAccountResponse"/>
    </operation>
    <operation name="renameCosRequest">
      <input message="tns:renameCosRequest"/>
      <output message="tns:renameCosResponse"/>
    </operation>
    <operation name="searchDirectoryRequest">
      <input message="tns:searchDirectoryRequest"/>
      <output message="tns:searchDirectoryResponse"/>
    </operation>
    <operation name="setPasswordRequest">
      <input message="tns:setPasswordRequest"/>
      <output message="tns:setPasswordResponse"/>
    </operation>
  </portType>

  <binding name="AdminServicePortBinding" type="tns:AdminService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>

    <operation name="addAccountAliasRequest">
      <soap:operation soapAction="urn:zimbraAdmin/AddAccountAlias" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="authRequest">
      <soap:operation soapAction="urn:zimbraAdmin/Auth" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="checkPasswordStrengthRequest">
      <soap:operation soapAction="urn:zimbraAdmin/CheckPasswordStrength" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="copyCosRequest">
      <soap:operation soapAction="urn:zimbraAdmin/CopyCos" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="createAccountRequest">
      <soap:operation soapAction="urn:zimbraAdmin/CreateAccount" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="createCosRequest">
      <soap:operation soapAction="urn:zimbraAdmin/CreateCos" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="createDomainRequest">
      <soap:operation soapAction="urn:zimbraAdmin/CreateDomain" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="createServerRequest">
      <soap:operation soapAction="urn:zimbraAdmin/CreateServer" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="delegateAuthRequest">
      <soap:operation soapAction="urn:zimbraAdmin/DelegateAuth" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="deleteAccountRequest">
      <soap:operation soapAction="urn:zimbraAdmin/DeleteAccount" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="deleteCosRequest">
      <soap:operation soapAction="urn:zimbraAdmin/DeleteCos" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="deleteDomainRequest">
      <soap:operation soapAction="urn:zimbraAdmin/DeleteDomain" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="deleteServerRequest">
      <soap:operation soapAction="urn:zimbraAdmin/DeleteServer" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getAccountInfoRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetAccountInfo" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getAccountMembershipRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetAccountMembership" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getAccountRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetAccount" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getAllAccountsRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetAllAccounts" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getAllAdminAccountsRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetAllAdminAccounts" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getAllCosRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetAllCos" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getAllDomainsRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetAllDomains" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getAllServersRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetAllServers" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getCosRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetCos" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getDomainInfoRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetDomainInfo" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getDomainRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetDomain" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getServerRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetServer" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getServerStatsRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetServerStats" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="modifyAccountRequest">
      <soap:operation soapAction="urn:zimbraAdmin/ModifyAccount" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="modifyCosRequest">
      <soap:operation soapAction="urn:zimbraAdmin/ModifyCos" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="modifyDomainRequest">
      <soap:operation soapAction="urn:zimbraAdmin/ModifyDomain" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="modifyServerRequest">
      <soap:operation soapAction="urn:zimbraAdmin/ModifyServer" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="reloadLocalConfigRequest">
      <soap:operation soapAction="urn:zimbraAdmin/ReloadLocalConfig" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="removeAccountAliasRequest">
      <soap:operation soapAction="urn:zimbraAdmin/RemoveAccountAlias" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="renameAccountRequest">
      <soap:operation soapAction="urn:zimbraAdmin/RenameAccount" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="renameCosRequest">
      <soap:operation soapAction="urn:zimbraAdmin/RenameCos" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="searchDirectoryRequest">
      <soap:operation soapAction="urn:zimbraAdmin/SearchDirectory" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="setPasswordRequest">
      <soap:operation soapAction="urn:zimbraAdmin/SetPassword" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="AdminService">
    <port name="AdminServicePort" binding="tns:AdminServicePortBinding">
      <soap:address location="https://localhost:7071/service/admin/soap"/>
    </port>
  </service>
</definitions>
