schema/AdminService.wsdl

<?xml version='1.0' encoding='utf-8'?>
<definitions xmlns:tns="urn:zimbraAdmin" xmlns:zimbra="urn:zimbra" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:zimbraAdmin" name="AdminService">

  <types>
    <xsd:schema>
      <xsd:import namespace="urn:zimbra" schemaLocation="zimbra.xsd"/>
      <xsd:import namespace="urn:zimbraAdmin" schemaLocation="zimbraAdmin.xsd"/>
    </xsd:schema>
  </types>

  <message name="addAccountAliasRequest">
    <part name="parameters" element="tns:AddAccountAliasRequest"/>
  </message>
  <message name="addAccountAliasResponse">
    <part name="parameters" element="tns:AddAccountAliasResponse"/>
  </message>

  <message name="addAccountLoggerRequest">
    <part name="parameters" element="tns:AddAccountLoggerRequest"/>
  </message>
  <message name="addAccountLoggerResponse">
    <part name="parameters" element="tns:AddAccountLoggerResponse"/>
  </message>

  <message name="addDistributionListAliasRequest">
    <part name="parameters" element="tns:AddDistributionListAliasRequest"/>
  </message>
  <message name="addDistributionListAliasResponse">
    <part name="parameters" element="tns:AddDistributionListAliasResponse"/>
  </message>

  <message name="addDistributionListMemberRequest">
    <part name="parameters" element="tns:AddDistributionListMemberRequest"/>
  </message>
  <message name="addDistributionListMemberResponse">
    <part name="parameters" element="tns:AddDistributionListMemberResponse"/>
  </message>

  <message name="authRequest">
    <part name="parameters" element="tns:AuthRequest"/>
  </message>
  <message name="authResponse">
    <part name="parameters" element="tns:AuthResponse"/>
  </message>

  <message name="checkAuthConfigRequest">
    <part name="parameters" element="tns:CheckAuthConfigRequest"/>
  </message>
  <message name="checkAuthConfigResponse">
    <part name="parameters" element="tns:CheckAuthConfigResponse"/>
  </message>

  <message name="checkDirectoryRequest">
    <part name="parameters" element="tns:CheckDirectoryRequest"/>
  </message>
  <message name="checkDirectoryResponse">
    <part name="parameters" element="tns:CheckDirectoryResponse"/>
  </message>

  <message name="checkDomainMXRecordRequest">
    <part name="parameters" element="tns:CheckDomainMXRecordRequest"/>
  </message>
  <message name="checkDomainMXRecordResponse">
    <part name="parameters" element="tns:CheckDomainMXRecordResponse"/>
  </message>

  <message name="checkGalConfigRequest">
    <part name="parameters" element="tns:CheckGalConfigRequest"/>
  </message>
  <message name="checkGalConfigResponse">
    <part name="parameters" element="tns:CheckGalConfigResponse"/>
  </message>

  <message name="checkHealthRequest">
    <part name="parameters" element="tns:CheckHealthRequest"/>
  </message>
  <message name="checkHealthResponse">
    <part name="parameters" element="tns:CheckHealthResponse"/>
  </message>

  <message name="checkHostnameResolveRequest">
    <part name="parameters" element="tns:CheckHostnameResolveRequest"/>
  </message>
  <message name="checkHostnameResolveResponse">
    <part name="parameters" element="tns:CheckHostnameResolveResponse"/>
  </message>

  <message name="checkPasswordStrengthRequest">
    <part name="parameters" element="tns:CheckPasswordStrengthRequest"/>
  </message>
  <message name="checkPasswordStrengthResponse">
    <part name="parameters" element="tns:CheckPasswordStrengthResponse"/>
  </message>

  <message name="checkRightRequest">
    <part name="parameters" element="tns:CheckRightRequest"/>
  </message>
  <message name="checkRightResponse">
    <part name="parameters" element="tns:CheckRightResponse"/>
  </message>

  <message name="copyCosRequest">
    <part name="parameters" element="tns:CopyCosRequest"/>
  </message>
  <message name="copyCosResponse">
    <part name="parameters" element="tns:CopyCosResponse"/>
  </message>

  <message name="countAccountRequest">
    <part name="parameters" element="tns:CountAccountRequest"/>
  </message>
  <message name="countAccountResponse">
    <part name="parameters" element="tns:CountAccountResponse"/>
  </message>

  <message name="createAccountRequest">
    <part name="parameters" element="tns:CreateAccountRequest"/>
  </message>
  <message name="createAccountResponse">
    <part name="parameters" element="tns:CreateAccountResponse"/>
  </message>

  <message name="createCalendarResourceRequest">
    <part name="parameters" element="tns:CreateCalendarResourceRequest"/>
  </message>
  <message name="createCalendarResourceResponse">
    <part name="parameters" element="tns:CreateCalendarResourceResponse"/>
  </message>

  <message name="createCosRequest">
    <part name="parameters" element="tns:CreateCosRequest"/>
  </message>
  <message name="createCosResponse">
    <part name="parameters" element="tns:CreateCosResponse"/>
  </message>

  <message name="createDataSourceRequest">
    <part name="parameters" element="tns:CreateDataSourceRequest"/>
  </message>
  <message name="createDataSourceResponse">
    <part name="parameters" element="tns:CreateDataSourceResponse"/>
  </message>

  <message name="createDistributionListRequest">
    <part name="parameters" element="tns:CreateDistributionListRequest"/>
  </message>
  <message name="createDistributionListResponse">
    <part name="parameters" element="tns:CreateDistributionListResponse"/>
  </message>

  <message name="createDomainRequest">
    <part name="parameters" element="tns:CreateDomainRequest"/>
  </message>
  <message name="createDomainResponse">
    <part name="parameters" element="tns:CreateDomainResponse"/>
  </message>

  <message name="createGalSyncAccountRequest">
    <part name="parameters" element="tns:CreateGalSyncAccountRequest"/>
  </message>
  <message name="createGalSyncAccountResponse">
    <part name="parameters" element="tns:CreateGalSyncAccountResponse"/>
  </message>

  <message name="createServerRequest">
    <part name="parameters" element="tns:CreateServerRequest"/>
  </message>
  <message name="createServerResponse">
    <part name="parameters" element="tns:CreateServerResponse"/>
  </message>

  <message name="createVolumeRequest">
    <part name="parameters" element="tns:CreateVolumeRequest"/>
  </message>
  <message name="createVolumeResponse">
    <part name="parameters" element="tns:CreateVolumeResponse"/>
  </message>

  <message name="delegateAuthRequest">
    <part name="parameters" element="tns:DelegateAuthRequest"/>
  </message>
  <message name="delegateAuthResponse">
    <part name="parameters" element="tns:DelegateAuthResponse"/>
  </message>

  <message name="deleteAccountRequest">
    <part name="parameters" element="tns:DeleteAccountRequest"/>
  </message>
  <message name="deleteAccountResponse">
    <part name="parameters" element="tns:DeleteAccountResponse"/>
  </message>

  <message name="deleteCalendarResourceRequest">
    <part name="parameters" element="tns:DeleteCalendarResourceRequest"/>
  </message>
  <message name="deleteCalendarResourceResponse">
    <part name="parameters" element="tns:DeleteCalendarResourceResponse"/>
  </message>

  <message name="deleteCosRequest">
    <part name="parameters" element="tns:DeleteCosRequest"/>
  </message>
  <message name="deleteCosResponse">
    <part name="parameters" element="tns:DeleteCosResponse"/>
  </message>

  <message name="deleteDataSourceRequest">
    <part name="parameters" element="tns:DeleteDataSourceRequest"/>
  </message>
  <message name="deleteDataSourceResponse">
    <part name="parameters" element="tns:DeleteDataSourceResponse"/>
  </message>

  <message name="deleteDistributionListRequest">
    <part name="parameters" element="tns:DeleteDistributionListRequest"/>
  </message>
  <message name="deleteDistributionListResponse">
    <part name="parameters" element="tns:DeleteDistributionListResponse"/>
  </message>

  <message name="deleteDomainRequest">
    <part name="parameters" element="tns:DeleteDomainRequest"/>
  </message>
  <message name="deleteDomainResponse">
    <part name="parameters" element="tns:DeleteDomainResponse"/>
  </message>

  <message name="deleteGalSyncAccountRequest">
    <part name="parameters" element="tns:DeleteGalSyncAccountRequest"/>
  </message>
  <message name="deleteGalSyncAccountResponse">
    <part name="parameters" element="tns:DeleteGalSyncAccountResponse"/>
  </message>

  <message name="deleteMailboxRequest">
    <part name="parameters" element="tns:DeleteMailboxRequest"/>
  </message>
  <message name="deleteMailboxResponse">
    <part name="parameters" element="tns:DeleteMailboxResponse"/>
  </message>

  <message name="deleteServerRequest">
    <part name="parameters" element="tns:DeleteServerRequest"/>
  </message>
  <message name="deleteServerResponse">
    <part name="parameters" element="tns:DeleteServerResponse"/>
  </message>

  <message name="deleteVolumeRequest">
    <part name="parameters" element="tns:DeleteVolumeRequest"/>
  </message>
  <message name="deleteVolumeResponse">
    <part name="parameters" element="tns:DeleteVolumeResponse"/>
  </message>

  <message name="exportMailboxRequest">
    <part name="parameters" element="tns:ExportMailboxRequest"/>
  </message>
  <message name="exportMailboxResponse">
    <part name="parameters" element="tns:ExportMailboxResponse"/>
  </message>

  <message name="flushCacheRequest">
    <part name="parameters" element="tns:FlushCacheRequest"/>
  </message>
  <message name="flushCacheResponse">
    <part name="parameters" element="tns:FlushCacheResponse"/>
  </message>

  <message name="getAccountInfoRequest">
    <part name="parameters" element="tns:GetAccountInfoRequest"/>
  </message>
  <message name="getAccountInfoResponse">
    <part name="parameters" element="tns:GetAccountInfoResponse"/>
  </message>

  <message name="getAccountLoggersRequest">
    <part name="parameters" element="tns:GetAccountLoggersRequest"/>
  </message>
  <message name="getAccountLoggersResponse">
    <part name="parameters" element="tns:GetAccountLoggersResponse"/>
  </message>

  <message name="getAccountMembershipRequest">
    <part name="parameters" element="tns:GetAccountMembershipRequest"/>
  </message>
  <message name="getAccountMembershipResponse">
    <part name="parameters" element="tns:GetAccountMembershipResponse"/>
  </message>

  <message name="getAccountRequest">
    <part name="parameters" element="tns:GetAccountRequest"/>
  </message>
  <message name="getAccountResponse">
    <part name="parameters" element="tns:GetAccountResponse"/>
  </message>

  <message name="getAdminConsoleUICompRequest">
    <part name="parameters" element="tns:GetAdminConsoleUICompRequest"/>
  </message>
  <message name="getAdminConsoleUICompResponse">
    <part name="parameters" element="tns:GetAdminConsoleUICompResponse"/>
  </message>

  <message name="getAllAccountLoggersRequest">
    <part name="parameters" element="tns:GetAllAccountLoggersRequest"/>
  </message>
  <message name="getAllAccountLoggersResponse">
    <part name="parameters" element="tns:GetAllAccountLoggersResponse"/>
  </message>

  <message name="getAllAccountsRequest">
    <part name="parameters" element="tns:GetAllAccountsRequest"/>
  </message>
  <message name="getAllAccountsResponse">
    <part name="parameters" element="tns:GetAllAccountsResponse"/>
  </message>

  <message name="getAllAdminAccountsRequest">
    <part name="parameters" element="tns:GetAllAdminAccountsRequest"/>
  </message>
  <message name="getAllAdminAccountsResponse">
    <part name="parameters" element="tns:GetAllAdminAccountsResponse"/>
  </message>

  <message name="getAllCalendarResourcesRequest">
    <part name="parameters" element="tns:GetAllCalendarResourcesRequest"/>
  </message>
  <message name="getAllCalendarResourcesResponse">
    <part name="parameters" element="tns:GetAllCalendarResourcesResponse"/>
  </message>

  <message name="getAllConfigRequest">
    <part name="parameters" element="tns:GetAllConfigRequest"/>
  </message>
  <message name="getAllConfigResponse">
    <part name="parameters" element="tns:GetAllConfigResponse"/>
  </message>

  <message name="getAllCosRequest">
    <part name="parameters" element="tns:GetAllCosRequest"/>
  </message>
  <message name="getAllCosResponse">
    <part name="parameters" element="tns:GetAllCosResponse"/>
  </message>

  <message name="getAllDistributionListsRequest">
    <part name="parameters" element="tns:GetAllDistributionListsRequest"/>
  </message>
  <message name="getAllDistributionListsResponse">
    <part name="parameters" element="tns:GetAllDistributionListsResponse"/>
  </message>

  <message name="getAllDomainsRequest">
    <part name="parameters" element="tns:GetAllDomainsRequest"/>
  </message>
  <message name="getAllDomainsResponse">
    <part name="parameters" element="tns:GetAllDomainsResponse"/>
  </message>

  <message name="getAllEffectiveRightsRequest">
    <part name="parameters" element="tns:GetAllEffectiveRightsRequest"/>
  </message>
  <message name="getAllEffectiveRightsResponse">
    <part name="parameters" element="tns:GetAllEffectiveRightsResponse"/>
  </message>

  <message name="getAllLocalesRequest">
    <part name="parameters" element="tns:GetAllLocalesRequest"/>
  </message>
  <message name="getAllLocalesResponse">
    <part name="parameters" element="tns:GetAllLocalesResponse"/>
  </message>

  <message name="getAllMailboxesRequest">
    <part name="parameters" element="tns:GetAllMailboxesRequest"/>
  </message>
  <message name="getAllMailboxesResponse">
    <part name="parameters" element="tns:GetAllMailboxesResponse"/>
  </message>

  <message name="getAllRightsRequest">
    <part name="parameters" element="tns:GetAllRightsRequest"/>
  </message>
  <message name="getAllRightsResponse">
    <part name="parameters" element="tns:GetAllRightsResponse"/>
  </message>

  <message name="getAllServersRequest">
    <part name="parameters" element="tns:GetAllServersRequest"/>
  </message>
  <message name="getAllServersResponse">
    <part name="parameters" element="tns:GetAllServersResponse"/>
  </message>

  <message name="getAllVolumesRequest">
    <part name="parameters" element="tns:GetAllVolumesRequest"/>
  </message>
  <message name="getAllVolumesResponse">
    <part name="parameters" element="tns:GetAllVolumesResponse"/>
  </message>

  <message name="getCalendarResourceRequest">
    <part name="parameters" element="tns:GetCalendarResourceRequest"/>
  </message>
  <message name="getCalendarResourceResponse">
    <part name="parameters" element="tns:GetCalendarResourceResponse"/>
  </message>

  <message name="getConfigRequest">
    <part name="parameters" element="tns:GetConfigRequest"/>
  </message>
  <message name="getConfigResponse">
    <part name="parameters" element="tns:GetConfigResponse"/>
  </message>

  <message name="getCosRequest">
    <part name="parameters" element="tns:GetCosRequest"/>
  </message>
  <message name="getCosResponse">
    <part name="parameters" element="tns:GetCosResponse"/>
  </message>

  <message name="getCreateObjectAttrsRequest">
    <part name="parameters" element="tns:GetCreateObjectAttrsRequest"/>
  </message>
  <message name="getCreateObjectAttrsResponse">
    <part name="parameters" element="tns:GetCreateObjectAttrsResponse"/>
  </message>

  <message name="getCurrentVolumesRequest">
    <part name="parameters" element="tns:GetCurrentVolumesRequest"/>
  </message>
  <message name="getCurrentVolumesResponse">
    <part name="parameters" element="tns:GetCurrentVolumesResponse"/>
  </message>

  <message name="getDataSourcesRequest">
    <part name="parameters" element="tns:GetDataSourcesRequest"/>
  </message>
  <message name="getDataSourcesResponse">
    <part name="parameters" element="tns:GetDataSourcesResponse"/>
  </message>

  <message name="getDelegatedAdminConstraintsRequest">
    <part name="parameters" element="tns:GetDelegatedAdminConstraintsRequest"/>
  </message>
  <message name="getDelegatedAdminConstraintsResponse">
    <part name="parameters" element="tns:GetDelegatedAdminConstraintsResponse"/>
  </message>

  <message name="getDistributionListMembershipRequest">
    <part name="parameters" element="tns:GetDistributionListMembershipRequest"/>
  </message>
  <message name="getDistributionListMembershipResponse">
    <part name="parameters" element="tns:GetDistributionListMembershipResponse"/>
  </message>

  <message name="getDistributionListRequest">
    <part name="parameters" element="tns:GetDistributionListRequest"/>
  </message>
  <message name="getDistributionListResponse">
    <part name="parameters" element="tns:GetDistributionListResponse"/>
  </message>

  <message name="getDomainInfoRequest">
    <part name="parameters" element="tns:GetDomainInfoRequest"/>
  </message>
  <message name="getDomainInfoResponse">
    <part name="parameters" element="tns:GetDomainInfoResponse"/>
  </message>

  <message name="getDomainRequest">
    <part name="parameters" element="tns:GetDomainRequest"/>
  </message>
  <message name="getDomainResponse">
    <part name="parameters" element="tns:GetDomainResponse"/>
  </message>

  <message name="getEffectiveRightsRequest">
    <part name="parameters" element="tns:GetEffectiveRightsRequest"/>
  </message>
  <message name="getEffectiveRightsResponse">
    <part name="parameters" element="tns:GetEffectiveRightsResponse"/>
  </message>

  <message name="getGrantsRequest">
    <part name="parameters" element="tns:GetGrantsRequest"/>
  </message>
  <message name="getGrantsResponse">
    <part name="parameters" element="tns:GetGrantsResponse"/>
  </message>

  <message name="getLicenseInfoRequest">
    <part name="parameters" element="tns:GetLicenseInfoRequest"/>
  </message>
  <message name="getLicenseInfoResponse">
    <part name="parameters" element="tns:GetLicenseInfoResponse"/>
  </message>

  <message name="getMailboxRequest">
    <part name="parameters" element="tns:GetMailboxRequest"/>
  </message>
  <message name="getMailboxResponse">
    <part name="parameters" element="tns:GetMailboxResponse"/>
  </message>

  <message name="getMailboxStatsRequest">
    <part name="parameters" element="tns:GetMailboxStatsRequest"/>
  </message>
  <message name="getMailboxStatsResponse">
    <part name="parameters" element="tns:GetMailboxStatsResponse"/>
  </message>

  <message name="getPublishedShareInfoRequest">
    <part name="parameters" element="tns:GetPublishedShareInfoRequest"/>
  </message>
  <message name="getPublishedShareInfoResponse">
    <part name="parameters" element="tns:GetPublishedShareInfoResponse"/>
  </message>

  <message name="getQuotaUsageRequest">
    <part name="parameters" element="tns:GetQuotaUsageRequest"/>
  </message>
  <message name="getQuotaUsageResponse">
    <part name="parameters" element="tns:GetQuotaUsageResponse"/>
  </message>

  <message name="getRightRequest">
    <part name="parameters" element="tns:GetRightRequest"/>
  </message>
  <message name="getRightResponse">
    <part name="parameters" element="tns:GetRightResponse"/>
  </message>

  <message name="getRightsDocRequest">
    <part name="parameters" element="tns:GetRightsDocRequest"/>
  </message>
  <message name="getRightsDocResponse">
    <part name="parameters" element="tns:GetRightsDocResponse"/>
  </message>

  <message name="getServerNIfsRequest">
    <part name="parameters" element="tns:GetServerNIfsRequest"/>
  </message>
  <message name="getServerNIfsResponse">
    <part name="parameters" element="tns:GetServerNIfsResponse"/>
  </message>

  <message name="getServerRequest">
    <part name="parameters" element="tns:GetServerRequest"/>
  </message>
  <message name="getServerResponse">
    <part name="parameters" element="tns:GetServerResponse"/>
  </message>

  <message name="getServerStatsRequest">
    <part name="parameters" element="tns:GetServerStatsRequest"/>
  </message>
  <message name="getServerStatsResponse">
    <part name="parameters" element="tns:GetServerStatsResponse"/>
  </message>

  <message name="getServiceStatusRequest">
    <part name="parameters" element="tns:GetServiceStatusRequest"/>
  </message>
  <message name="getServiceStatusResponse">
    <part name="parameters" element="tns:GetServiceStatusResponse"/>
  </message>

  <message name="getShareInfoRequest">
    <part name="parameters" element="tns:GetShareInfoRequest"/>
  </message>
  <message name="getShareInfoResponse">
    <part name="parameters" element="tns:GetShareInfoResponse"/>
  </message>

  <message name="getVersionInfoRequest">
    <part name="parameters" element="tns:GetVersionInfoRequest"/>
  </message>
  <message name="getVersionInfoResponse">
    <part name="parameters" element="tns:GetVersionInfoResponse"/>
  </message>

  <message name="getVolumeRequest">
    <part name="parameters" element="tns:GetVolumeRequest"/>
  </message>
  <message name="getVolumeResponse">
    <part name="parameters" element="tns:GetVolumeResponse"/>
  </message>

  <message name="grantRightRequest">
    <part name="parameters" element="tns:GrantRightRequest"/>
  </message>
  <message name="grantRightResponse">
    <part name="parameters" element="tns:GrantRightResponse"/>
  </message>

  <message name="modifyAccountRequest">
    <part name="parameters" element="tns:ModifyAccountRequest"/>
  </message>
  <message name="modifyAccountResponse">
    <part name="parameters" element="tns:ModifyAccountResponse"/>
  </message>

  <message name="modifyCalendarResourceRequest">
    <part name="parameters" element="tns:ModifyCalendarResourceRequest"/>
  </message>
  <message name="modifyCalendarResourceResponse">
    <part name="parameters" element="tns:ModifyCalendarResourceResponse"/>
  </message>

  <message name="modifyConfigRequest">
    <part name="parameters" element="tns:ModifyConfigRequest"/>
  </message>
  <message name="modifyConfigResponse">
    <part name="parameters" element="tns:ModifyConfigResponse"/>
  </message>

  <message name="modifyCosRequest">
    <part name="parameters" element="tns:ModifyCosRequest"/>
  </message>
  <message name="modifyCosResponse">
    <part name="parameters" element="tns:ModifyCosResponse"/>
  </message>

  <message name="modifyDataSourceRequest">
    <part name="parameters" element="tns:ModifyDataSourceRequest"/>
  </message>
  <message name="modifyDataSourceResponse">
    <part name="parameters" element="tns:ModifyDataSourceResponse"/>
  </message>

  <message name="modifyDelegatedAdminConstraintsRequest">
    <part name="parameters" element="tns:ModifyDelegatedAdminConstraintsRequest"/>
  </message>
  <message name="modifyDelegatedAdminConstraintsResponse">
    <part name="parameters" element="tns:ModifyDelegatedAdminConstraintsResponse"/>
  </message>

  <message name="modifyDistributionListRequest">
    <part name="parameters" element="tns:ModifyDistributionListRequest"/>
  </message>
  <message name="modifyDistributionListResponse">
    <part name="parameters" element="tns:ModifyDistributionListResponse"/>
  </message>

  <message name="modifyDomainRequest">
    <part name="parameters" element="tns:ModifyDomainRequest"/>
  </message>
  <message name="modifyDomainResponse">
    <part name="parameters" element="tns:ModifyDomainResponse"/>
  </message>

  <message name="modifyServerRequest">
    <part name="parameters" element="tns:ModifyServerRequest"/>
  </message>
  <message name="modifyServerResponse">
    <part name="parameters" element="tns:ModifyServerResponse"/>
  </message>

  <message name="modifyVolumeRequest">
    <part name="parameters" element="tns:ModifyVolumeRequest"/>
  </message>
  <message name="modifyVolumeResponse">
    <part name="parameters" element="tns:ModifyVolumeResponse"/>
  </message>

  <message name="noOpRequest">
    <part name="parameters" element="tns:NoOpRequest"/>
  </message>
  <message name="noOpResponse">
    <part name="parameters" element="tns:NoOpResponse"/>
  </message>

  <message name="pingRequest">
    <part name="parameters" element="tns:PingRequest"/>
  </message>
  <message name="pingResponse">
    <part name="parameters" element="tns:PingResponse"/>
  </message>

  <message name="publishShareInfoRequest">
    <part name="parameters" element="tns:PublishShareInfoRequest"/>
  </message>
  <message name="publishShareInfoResponse">
    <part name="parameters" element="tns:PublishShareInfoResponse"/>
  </message>

  <message name="purgeMessagesRequest">
    <part name="parameters" element="tns:PurgeMessagesRequest"/>
  </message>
  <message name="purgeMessagesResponse">
    <part name="parameters" element="tns:PurgeMessagesResponse"/>
  </message>

  <message name="reIndexRequest">
    <part name="parameters" element="tns:ReIndexRequest"/>
  </message>
  <message name="reIndexResponse">
    <part name="parameters" element="tns:ReIndexResponse"/>
  </message>

  <message name="recalculateMailboxCountsRequest">
    <part name="parameters" element="tns:RecalculateMailboxCountsRequest"/>
  </message>
  <message name="recalculateMailboxCountsResponse">
    <part name="parameters" element="tns:RecalculateMailboxCountsResponse"/>
  </message>

  <message name="reloadLocalConfigRequest">
    <part name="parameters" element="tns:ReloadLocalConfigRequest"/>
  </message>
  <message name="reloadLocalConfigResponse">
    <part name="parameters" element="tns:ReloadLocalConfigResponse"/>
  </message>

  <message name="removeAccountAliasRequest">
    <part name="parameters" element="tns:RemoveAccountAliasRequest"/>
  </message>
  <message name="removeAccountAliasResponse">
    <part name="parameters" element="tns:RemoveAccountAliasResponse"/>
  </message>

  <message name="removeAccountLoggerRequest">
    <part name="parameters" element="tns:RemoveAccountLoggerRequest"/>
  </message>
  <message name="removeAccountLoggerResponse">
    <part name="parameters" element="tns:RemoveAccountLoggerResponse"/>
  </message>

  <message name="removeDistributionListAliasRequest">
    <part name="parameters" element="tns:RemoveDistributionListAliasRequest"/>
  </message>
  <message name="removeDistributionListAliasResponse">
    <part name="parameters" element="tns:RemoveDistributionListAliasResponse"/>
  </message>

  <message name="removeDistributionListMemberRequest">
    <part name="parameters" element="tns:RemoveDistributionListMemberRequest"/>
  </message>
  <message name="removeDistributionListMemberResponse">
    <part name="parameters" element="tns:RemoveDistributionListMemberResponse"/>
  </message>

  <message name="renameAccountRequest">
    <part name="parameters" element="tns:RenameAccountRequest"/>
  </message>
  <message name="renameAccountResponse">
    <part name="parameters" element="tns:RenameAccountResponse"/>
  </message>

  <message name="renameCalendarResourceRequest">
    <part name="parameters" element="tns:RenameCalendarResourceRequest"/>
  </message>
  <message name="renameCalendarResourceResponse">
    <part name="parameters" element="tns:RenameCalendarResourceResponse"/>
  </message>

  <message name="renameCosRequest">
    <part name="parameters" element="tns:RenameCosRequest"/>
  </message>
  <message name="renameCosResponse">
    <part name="parameters" element="tns:RenameCosResponse"/>
  </message>

  <message name="renameDistributionListRequest">
    <part name="parameters" element="tns:RenameDistributionListRequest"/>
  </message>
  <message name="renameDistributionListResponse">
    <part name="parameters" element="tns:RenameDistributionListResponse"/>
  </message>

  <message name="revokeRightRequest">
    <part name="parameters" element="tns:RevokeRightRequest"/>
  </message>
  <message name="revokeRightResponse">
    <part name="parameters" element="tns:RevokeRightResponse"/>
  </message>

  <message name="runUnitTestsRequest">
    <part name="parameters" element="tns:RunUnitTestsRequest"/>
  </message>
  <message name="runUnitTestsResponse">
    <part name="parameters" element="tns:RunUnitTestsResponse"/>
  </message>

  <message name="searchCalendarResourcesRequest">
    <part name="parameters" element="tns:SearchCalendarResourcesRequest"/>
  </message>
  <message name="searchCalendarResourcesResponse">
    <part name="parameters" element="tns:SearchCalendarResourcesResponse"/>
  </message>

  <message name="searchDirectoryRequest">
    <part name="parameters" element="tns:SearchDirectoryRequest"/>
  </message>
  <message name="searchDirectoryResponse">
    <part name="parameters" element="tns:SearchDirectoryResponse"/>
  </message>

  <message name="setCurrentVolumeRequest">
    <part name="parameters" element="tns:SetCurrentVolumeRequest"/>
  </message>
  <message name="setCurrentVolumeResponse">
    <part name="parameters" element="tns:SetCurrentVolumeResponse"/>
  </message>

  <message name="setPasswordRequest">
    <part name="parameters" element="tns:SetPasswordRequest"/>
  </message>
  <message name="setPasswordResponse">
    <part name="parameters" element="tns:SetPasswordResponse"/>
  </message>

  <message name="soapHdrContext">
    <part name="context" element="zimbra:context"/>
  </message>

  <message name="verifyIndexRequest">
    <part name="parameters" element="tns:VerifyIndexRequest"/>
  </message>
  <message name="verifyIndexResponse">
    <part name="parameters" element="tns:VerifyIndexResponse"/>
  </message>

  <portType name="AdminService">
    <operation name="addAccountAliasRequest">
      <input message="tns:addAccountAliasRequest"/>
      <output message="tns:addAccountAliasResponse"/>
    </operation>
    <operation name="addAccountLoggerRequest">
      <input message="tns:addAccountLoggerRequest"/>
      <output message="tns:addAccountLoggerResponse"/>
    </operation>
    <operation name="addDistributionListAliasRequest">
      <input message="tns:addDistributionListAliasRequest"/>
      <output message="tns:addDistributionListAliasResponse"/>
    </operation>
    <operation name="addDistributionListMemberRequest">
      <input message="tns:addDistributionListMemberRequest"/>
      <output message="tns:addDistributionListMemberResponse"/>
    </operation>
    <operation name="authRequest">
      <input message="tns:authRequest"/>
      <output message="tns:authResponse"/>
    </operation>
    <operation name="checkAuthConfigRequest">
      <input message="tns:checkAuthConfigRequest"/>
      <output message="tns:checkAuthConfigResponse"/>
    </operation>
    <operation name="checkDirectoryRequest">
      <input message="tns:checkDirectoryRequest"/>
      <output message="tns:checkDirectoryResponse"/>
    </operation>
    <operation name="checkDomainMXRecordRequest">
      <input message="tns:checkDomainMXRecordRequest"/>
      <output message="tns:checkDomainMXRecordResponse"/>
    </operation>
    <operation name="checkGalConfigRequest">
      <input message="tns:checkGalConfigRequest"/>
      <output message="tns:checkGalConfigResponse"/>
    </operation>
    <operation name="checkHealthRequest">
      <input message="tns:checkHealthRequest"/>
      <output message="tns:checkHealthResponse"/>
    </operation>
    <operation name="checkHostnameResolveRequest">
      <input message="tns:checkHostnameResolveRequest"/>
      <output message="tns:checkHostnameResolveResponse"/>
    </operation>
    <operation name="checkPasswordStrengthRequest">
      <input message="tns:checkPasswordStrengthRequest"/>
      <output message="tns:checkPasswordStrengthResponse"/>
    </operation>
    <operation name="checkRightRequest">
      <input message="tns:checkRightRequest"/>
      <output message="tns:checkRightResponse"/>
    </operation>
    <operation name="copyCosRequest">
      <input message="tns:copyCosRequest"/>
      <output message="tns:copyCosResponse"/>
    </operation>
    <operation name="countAccountRequest">
      <input message="tns:countAccountRequest"/>
      <output message="tns:countAccountResponse"/>
    </operation>
    <operation name="createAccountRequest">
      <input message="tns:createAccountRequest"/>
      <output message="tns:createAccountResponse"/>
    </operation>
    <operation name="createCalendarResourceRequest">
      <input message="tns:createCalendarResourceRequest"/>
      <output message="tns:createCalendarResourceResponse"/>
    </operation>
    <operation name="createCosRequest">
      <input message="tns:createCosRequest"/>
      <output message="tns:createCosResponse"/>
    </operation>
    <operation name="createDataSourceRequest">
      <input message="tns:createDataSourceRequest"/>
      <output message="tns:createDataSourceResponse"/>
    </operation>
    <operation name="createDistributionListRequest">
      <input message="tns:createDistributionListRequest"/>
      <output message="tns:createDistributionListResponse"/>
    </operation>
    <operation name="createDomainRequest">
      <input message="tns:createDomainRequest"/>
      <output message="tns:createDomainResponse"/>
    </operation>
    <operation name="createGalSyncAccountRequest">
      <input message="tns:createGalSyncAccountRequest"/>
      <output message="tns:createGalSyncAccountResponse"/>
    </operation>
    <operation name="createServerRequest">
      <input message="tns:createServerRequest"/>
      <output message="tns:createServerResponse"/>
    </operation>
    <operation name="createVolumeRequest">
      <input message="tns:createVolumeRequest"/>
      <output message="tns:createVolumeResponse"/>
    </operation>
    <operation name="delegateAuthRequest">
      <input message="tns:delegateAuthRequest"/>
      <output message="tns:delegateAuthResponse"/>
    </operation>
    <operation name="deleteAccountRequest">
      <input message="tns:deleteAccountRequest"/>
      <output message="tns:deleteAccountResponse"/>
    </operation>
    <operation name="deleteCalendarResourceRequest">
      <input message="tns:deleteCalendarResourceRequest"/>
      <output message="tns:deleteCalendarResourceResponse"/>
    </operation>
    <operation name="deleteCosRequest">
      <input message="tns:deleteCosRequest"/>
      <output message="tns:deleteCosResponse"/>
    </operation>
    <operation name="deleteDataSourceRequest">
      <input message="tns:deleteDataSourceRequest"/>
      <output message="tns:deleteDataSourceResponse"/>
    </operation>
    <operation name="deleteDistributionListRequest">
      <input message="tns:deleteDistributionListRequest"/>
      <output message="tns:deleteDistributionListResponse"/>
    </operation>
    <operation name="deleteDomainRequest">
      <input message="tns:deleteDomainRequest"/>
      <output message="tns:deleteDomainResponse"/>
    </operation>
    <operation name="deleteGalSyncAccountRequest">
      <input message="tns:deleteGalSyncAccountRequest"/>
      <output message="tns:deleteGalSyncAccountResponse"/>
    </operation>
    <operation name="deleteMailboxRequest">
      <input message="tns:deleteMailboxRequest"/>
      <output message="tns:deleteMailboxResponse"/>
    </operation>
    <operation name="deleteServerRequest">
      <input message="tns:deleteServerRequest"/>
      <output message="tns:deleteServerResponse"/>
    </operation>
    <operation name="deleteVolumeRequest">
      <input message="tns:deleteVolumeRequest"/>
      <output message="tns:deleteVolumeResponse"/>
    </operation>
    <operation name="exportMailboxRequest">
      <input message="tns:exportMailboxRequest"/>
      <output message="tns:exportMailboxResponse"/>
    </operation>
    <operation name="flushCacheRequest">
      <input message="tns:flushCacheRequest"/>
      <output message="tns:flushCacheResponse"/>
    </operation>
    <operation name="getAccountInfoRequest">
      <input message="tns:getAccountInfoRequest"/>
      <output message="tns:getAccountInfoResponse"/>
    </operation>
    <operation name="getAccountLoggersRequest">
      <input message="tns:getAccountLoggersRequest"/>
      <output message="tns:getAccountLoggersResponse"/>
    </operation>
    <operation name="getAccountMembershipRequest">
      <input message="tns:getAccountMembershipRequest"/>
      <output message="tns:getAccountMembershipResponse"/>
    </operation>
    <operation name="getAccountRequest">
      <input message="tns:getAccountRequest"/>
      <output message="tns:getAccountResponse"/>
    </operation>
    <operation name="getAdminConsoleUICompRequest">
      <input message="tns:getAdminConsoleUICompRequest"/>
      <output message="tns:getAdminConsoleUICompResponse"/>
    </operation>
    <operation name="getAllAccountLoggersRequest">
      <input message="tns:getAllAccountLoggersRequest"/>
      <output message="tns:getAllAccountLoggersResponse"/>
    </operation>
    <operation name="getAllAccountsRequest">
      <input message="tns:getAllAccountsRequest"/>
      <output message="tns:getAllAccountsResponse"/>
    </operation>
    <operation name="getAllAdminAccountsRequest">
      <input message="tns:getAllAdminAccountsRequest"/>
      <output message="tns:getAllAdminAccountsResponse"/>
    </operation>
    <operation name="getAllCalendarResourcesRequest">
      <input message="tns:getAllCalendarResourcesRequest"/>
      <output message="tns:getAllCalendarResourcesResponse"/>
    </operation>
    <operation name="getAllConfigRequest">
      <input message="tns:getAllConfigRequest"/>
      <output message="tns:getAllConfigResponse"/>
    </operation>
    <operation name="getAllCosRequest">
      <input message="tns:getAllCosRequest"/>
      <output message="tns:getAllCosResponse"/>
    </operation>
    <operation name="getAllDistributionListsRequest">
      <input message="tns:getAllDistributionListsRequest"/>
      <output message="tns:getAllDistributionListsResponse"/>
    </operation>
    <operation name="getAllDomainsRequest">
      <input message="tns:getAllDomainsRequest"/>
      <output message="tns:getAllDomainsResponse"/>
    </operation>
    <operation name="getAllEffectiveRightsRequest">
      <input message="tns:getAllEffectiveRightsRequest"/>
      <output message="tns:getAllEffectiveRightsResponse"/>
    </operation>
    <operation name="getAllLocalesRequest">
      <input message="tns:getAllLocalesRequest"/>
      <output message="tns:getAllLocalesResponse"/>
    </operation>
    <operation name="getAllMailboxesRequest">
      <input message="tns:getAllMailboxesRequest"/>
      <output message="tns:getAllMailboxesResponse"/>
    </operation>
    <operation name="getAllRightsRequest">
      <input message="tns:getAllRightsRequest"/>
      <output message="tns:getAllRightsResponse"/>
    </operation>
    <operation name="getAllServersRequest">
      <input message="tns:getAllServersRequest"/>
      <output message="tns:getAllServersResponse"/>
    </operation>
    <operation name="getAllVolumesRequest">
      <input message="tns:getAllVolumesRequest"/>
      <output message="tns:getAllVolumesResponse"/>
    </operation>
    <operation name="getCalendarResourceRequest">
      <input message="tns:getCalendarResourceRequest"/>
      <output message="tns:getCalendarResourceResponse"/>
    </operation>
    <operation name="getConfigRequest">
      <input message="tns:getConfigRequest"/>
      <output message="tns:getConfigResponse"/>
    </operation>
    <operation name="getCosRequest">
      <input message="tns:getCosRequest"/>
      <output message="tns:getCosResponse"/>
    </operation>
    <operation name="getCreateObjectAttrsRequest">
      <input message="tns:getCreateObjectAttrsRequest"/>
      <output message="tns:getCreateObjectAttrsResponse"/>
    </operation>
    <operation name="getCurrentVolumesRequest">
      <input message="tns:getCurrentVolumesRequest"/>
      <output message="tns:getCurrentVolumesResponse"/>
    </operation>
    <operation name="getDataSourcesRequest">
      <input message="tns:getDataSourcesRequest"/>
      <output message="tns:getDataSourcesResponse"/>
    </operation>
    <operation name="getDelegatedAdminConstraintsRequest">
      <input message="tns:getDelegatedAdminConstraintsRequest"/>
      <output message="tns:getDelegatedAdminConstraintsResponse"/>
    </operation>
    <operation name="getDistributionListMembershipRequest">
      <input message="tns:getDistributionListMembershipRequest"/>
      <output message="tns:getDistributionListMembershipResponse"/>
    </operation>
    <operation name="getDistributionListRequest">
      <input message="tns:getDistributionListRequest"/>
      <output message="tns:getDistributionListResponse"/>
    </operation>
    <operation name="getDomainInfoRequest">
      <input message="tns:getDomainInfoRequest"/>
      <output message="tns:getDomainInfoResponse"/>
    </operation>
    <operation name="getDomainRequest">
      <input message="tns:getDomainRequest"/>
      <output message="tns:getDomainResponse"/>
    </operation>
    <operation name="getEffectiveRightsRequest">
      <input message="tns:getEffectiveRightsRequest"/>
      <output message="tns:getEffectiveRightsResponse"/>
    </operation>
    <operation name="getGrantsRequest">
      <input message="tns:getGrantsRequest"/>
      <output message="tns:getGrantsResponse"/>
    </operation>
    <operation name="getLicenseInfoRequest">
      <input message="tns:getLicenseInfoRequest"/>
      <output message="tns:getLicenseInfoResponse"/>
    </operation>
    <operation name="getMailboxRequest">
      <input message="tns:getMailboxRequest"/>
      <output message="tns:getMailboxResponse"/>
    </operation>
    <operation name="getMailboxStatsRequest">
      <input message="tns:getMailboxStatsRequest"/>
      <output message="tns:getMailboxStatsResponse"/>
    </operation>
    <operation name="getPublishedShareInfoRequest">
      <input message="tns:getPublishedShareInfoRequest"/>
      <output message="tns:getPublishedShareInfoResponse"/>
    </operation>
    <operation name="getQuotaUsageRequest">
      <input message="tns:getQuotaUsageRequest"/>
      <output message="tns:getQuotaUsageResponse"/>
    </operation>
    <operation name="getRightRequest">
      <input message="tns:getRightRequest"/>
      <output message="tns:getRightResponse"/>
    </operation>
    <operation name="getRightsDocRequest">
      <input message="tns:getRightsDocRequest"/>
      <output message="tns:getRightsDocResponse"/>
    </operation>
    <operation name="getServerNIfsRequest">
      <input message="tns:getServerNIfsRequest"/>
      <output message="tns:getServerNIfsResponse"/>
    </operation>
    <operation name="getServerRequest">
      <input message="tns:getServerRequest"/>
      <output message="tns:getServerResponse"/>
    </operation>
    <operation name="getServerStatsRequest">
      <input message="tns:getServerStatsRequest"/>
      <output message="tns:getServerStatsResponse"/>
    </operation>
    <operation name="getServiceStatusRequest">
      <input message="tns:getServiceStatusRequest"/>
      <output message="tns:getServiceStatusResponse"/>
    </operation>
    <operation name="getShareInfoRequest">
      <input message="tns:getShareInfoRequest"/>
      <output message="tns:getShareInfoResponse"/>
    </operation>
    <operation name="getVersionInfoRequest">
      <input message="tns:getVersionInfoRequest"/>
      <output message="tns:getVersionInfoResponse"/>
    </operation>
    <operation name="getVolumeRequest">
      <input message="tns:getVolumeRequest"/>
      <output message="tns:getVolumeResponse"/>
    </operation>
    <operation name="grantRightRequest">
      <input message="tns:grantRightRequest"/>
      <output message="tns:grantRightResponse"/>
    </operation>
    <operation name="modifyAccountRequest">
      <input message="tns:modifyAccountRequest"/>
      <output message="tns:modifyAccountResponse"/>
    </operation>
    <operation name="modifyCalendarResourceRequest">
      <input message="tns:modifyCalendarResourceRequest"/>
      <output message="tns:modifyCalendarResourceResponse"/>
    </operation>
    <operation name="modifyConfigRequest">
      <input message="tns:modifyConfigRequest"/>
      <output message="tns:modifyConfigResponse"/>
    </operation>
    <operation name="modifyCosRequest">
      <input message="tns:modifyCosRequest"/>
      <output message="tns:modifyCosResponse"/>
    </operation>
    <operation name="modifyDataSourceRequest">
      <input message="tns:modifyDataSourceRequest"/>
      <output message="tns:modifyDataSourceResponse"/>
    </operation>
    <operation name="modifyDelegatedAdminConstraintsRequest">
      <input message="tns:modifyDelegatedAdminConstraintsRequest"/>
      <output message="tns:modifyDelegatedAdminConstraintsResponse"/>
    </operation>
    <operation name="modifyDistributionListRequest">
      <input message="tns:modifyDistributionListRequest"/>
      <output message="tns:modifyDistributionListResponse"/>
    </operation>
    <operation name="modifyDomainRequest">
      <input message="tns:modifyDomainRequest"/>
      <output message="tns:modifyDomainResponse"/>
    </operation>
    <operation name="modifyServerRequest">
      <input message="tns:modifyServerRequest"/>
      <output message="tns:modifyServerResponse"/>
    </operation>
    <operation name="modifyVolumeRequest">
      <input message="tns:modifyVolumeRequest"/>
      <output message="tns:modifyVolumeResponse"/>
    </operation>
    <operation name="noOpRequest">
      <input message="tns:noOpRequest"/>
      <output message="tns:noOpResponse"/>
    </operation>
    <operation name="pingRequest">
      <input message="tns:pingRequest"/>
      <output message="tns:pingResponse"/>
    </operation>
    <operation name="publishShareInfoRequest">
      <input message="tns:publishShareInfoRequest"/>
      <output message="tns:publishShareInfoResponse"/>
    </operation>
    <operation name="purgeMessagesRequest">
      <input message="tns:purgeMessagesRequest"/>
      <output message="tns:purgeMessagesResponse"/>
    </operation>
    <operation name="reIndexRequest">
      <input message="tns:reIndexRequest"/>
      <output message="tns:reIndexResponse"/>
    </operation>
    <operation name="recalculateMailboxCountsRequest">
      <input message="tns:recalculateMailboxCountsRequest"/>
      <output message="tns:recalculateMailboxCountsResponse"/>
    </operation>
    <operation name="reloadLocalConfigRequest">
      <input message="tns:reloadLocalConfigRequest"/>
      <output message="tns:reloadLocalConfigResponse"/>
    </operation>
    <operation name="removeAccountAliasRequest">
      <input message="tns:removeAccountAliasRequest"/>
      <output message="tns:removeAccountAliasResponse"/>
    </operation>
    <operation name="removeAccountLoggerRequest">
      <input message="tns:removeAccountLoggerRequest"/>
      <output message="tns:removeAccountLoggerResponse"/>
    </operation>
    <operation name="removeDistributionListAliasRequest">
      <input message="tns:removeDistributionListAliasRequest"/>
      <output message="tns:removeDistributionListAliasResponse"/>
    </operation>
    <operation name="removeDistributionListMemberRequest">
      <input message="tns:removeDistributionListMemberRequest"/>
      <output message="tns:removeDistributionListMemberResponse"/>
    </operation>
    <operation name="renameAccountRequest">
      <input message="tns:renameAccountRequest"/>
      <output message="tns:renameAccountResponse"/>
    </operation>
    <operation name="renameCalendarResourceRequest">
      <input message="tns:renameCalendarResourceRequest"/>
      <output message="tns:renameCalendarResourceResponse"/>
    </operation>
    <operation name="renameCosRequest">
      <input message="tns:renameCosRequest"/>
      <output message="tns:renameCosResponse"/>
    </operation>
    <operation name="renameDistributionListRequest">
      <input message="tns:renameDistributionListRequest"/>
      <output message="tns:renameDistributionListResponse"/>
    </operation>
    <operation name="revokeRightRequest">
      <input message="tns:revokeRightRequest"/>
      <output message="tns:revokeRightResponse"/>
    </operation>
    <operation name="runUnitTestsRequest">
      <input message="tns:runUnitTestsRequest"/>
      <output message="tns:runUnitTestsResponse"/>
    </operation>
    <operation name="searchCalendarResourcesRequest">
      <input message="tns:searchCalendarResourcesRequest"/>
      <output message="tns:searchCalendarResourcesResponse"/>
    </operation>
    <operation name="searchDirectoryRequest">
      <input message="tns:searchDirectoryRequest"/>
      <output message="tns:searchDirectoryResponse"/>
    </operation>
    <operation name="setCurrentVolumeRequest">
      <input message="tns:setCurrentVolumeRequest"/>
      <output message="tns:setCurrentVolumeResponse"/>
    </operation>
    <operation name="setPasswordRequest">
      <input message="tns:setPasswordRequest"/>
      <output message="tns:setPasswordResponse"/>
    </operation>
    <operation name="verifyIndexRequest">
      <input message="tns:verifyIndexRequest"/>
      <output message="tns:verifyIndexResponse"/>
    </operation>
  </portType>

  <binding name="AdminServicePortBinding" type="tns:AdminService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>

    <operation name="addAccountAliasRequest">
      <soap:operation soapAction="urn:zimbraAdmin/AddAccountAlias" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="addAccountLoggerRequest">
      <soap:operation soapAction="urn:zimbraAdmin/AddAccountLogger" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="addDistributionListAliasRequest">
      <soap:operation soapAction="urn:zimbraAdmin/AddDistributionListAlias" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="addDistributionListMemberRequest">
      <soap:operation soapAction="urn:zimbraAdmin/AddDistributionListMember" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="authRequest">
      <soap:operation soapAction="urn:zimbraAdmin/Auth" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="checkAuthConfigRequest">
      <soap:operation soapAction="urn:zimbraAdmin/CheckAuthConfig" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="checkDirectoryRequest">
      <soap:operation soapAction="urn:zimbraAdmin/CheckDirectory" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="checkDomainMXRecordRequest">
      <soap:operation soapAction="urn:zimbraAdmin/CheckDomainMXRecord" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="checkGalConfigRequest">
      <soap:operation soapAction="urn:zimbraAdmin/CheckGalConfig" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="checkHealthRequest">
      <soap:operation soapAction="urn:zimbraAdmin/CheckHealth" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="checkHostnameResolveRequest">
      <soap:operation soapAction="urn:zimbraAdmin/CheckHostnameResolve" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="checkPasswordStrengthRequest">
      <soap:operation soapAction="urn:zimbraAdmin/CheckPasswordStrength" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="checkRightRequest">
      <soap:operation soapAction="urn:zimbraAdmin/CheckRight" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="copyCosRequest">
      <soap:operation soapAction="urn:zimbraAdmin/CopyCos" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="countAccountRequest">
      <soap:operation soapAction="urn:zimbraAdmin/CountAccount" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="createAccountRequest">
      <soap:operation soapAction="urn:zimbraAdmin/CreateAccount" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="createCalendarResourceRequest">
      <soap:operation soapAction="urn:zimbraAdmin/CreateCalendarResource" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="createCosRequest">
      <soap:operation soapAction="urn:zimbraAdmin/CreateCos" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="createDataSourceRequest">
      <soap:operation soapAction="urn:zimbraAdmin/CreateDataSource" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="createDistributionListRequest">
      <soap:operation soapAction="urn:zimbraAdmin/CreateDistributionList" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="createDomainRequest">
      <soap:operation soapAction="urn:zimbraAdmin/CreateDomain" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="createGalSyncAccountRequest">
      <soap:operation soapAction="urn:zimbraAdmin/CreateGalSyncAccount" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="createServerRequest">
      <soap:operation soapAction="urn:zimbraAdmin/CreateServer" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="createVolumeRequest">
      <soap:operation soapAction="urn:zimbraAdmin/CreateVolume" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="delegateAuthRequest">
      <soap:operation soapAction="urn:zimbraAdmin/DelegateAuth" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="deleteAccountRequest">
      <soap:operation soapAction="urn:zimbraAdmin/DeleteAccount" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="deleteCalendarResourceRequest">
      <soap:operation soapAction="urn:zimbraAdmin/DeleteCalendarResource" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="deleteCosRequest">
      <soap:operation soapAction="urn:zimbraAdmin/DeleteCos" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="deleteDataSourceRequest">
      <soap:operation soapAction="urn:zimbraAdmin/DeleteDataSource" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="deleteDistributionListRequest">
      <soap:operation soapAction="urn:zimbraAdmin/DeleteDistributionList" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="deleteDomainRequest">
      <soap:operation soapAction="urn:zimbraAdmin/DeleteDomain" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="deleteGalSyncAccountRequest">
      <soap:operation soapAction="urn:zimbraAdmin/DeleteGalSyncAccount" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="deleteMailboxRequest">
      <soap:operation soapAction="urn:zimbraAdmin/DeleteMailbox" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="deleteServerRequest">
      <soap:operation soapAction="urn:zimbraAdmin/DeleteServer" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="deleteVolumeRequest">
      <soap:operation soapAction="urn:zimbraAdmin/DeleteVolume" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="exportMailboxRequest">
      <soap:operation soapAction="urn:zimbraAdmin/ExportMailbox" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="flushCacheRequest">
      <soap:operation soapAction="urn:zimbraAdmin/FlushCache" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getAccountInfoRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetAccountInfo" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getAccountLoggersRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetAccountLoggers" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getAccountMembershipRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetAccountMembership" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getAccountRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetAccount" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getAdminConsoleUICompRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetAdminConsoleUIComp" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getAllAccountLoggersRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetAllAccountLoggers" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getAllAccountsRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetAllAccounts" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getAllAdminAccountsRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetAllAdminAccounts" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getAllCalendarResourcesRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetAllCalendarResources" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getAllConfigRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetAllConfig" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getAllCosRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetAllCos" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getAllDistributionListsRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetAllDistributionLists" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getAllDomainsRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetAllDomains" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getAllEffectiveRightsRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetAllEffectiveRights" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getAllLocalesRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetAllLocales" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getAllMailboxesRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetAllMailboxes" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getAllRightsRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetAllRights" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getAllServersRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetAllServers" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getAllVolumesRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetAllVolumes" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getCalendarResourceRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetCalendarResource" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getConfigRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetConfig" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getCosRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetCos" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getCreateObjectAttrsRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetCreateObjectAttrs" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getCurrentVolumesRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetCurrentVolumes" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getDataSourcesRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetDataSources" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getDelegatedAdminConstraintsRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetDelegatedAdminConstraints" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getDistributionListMembershipRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetDistributionListMembership" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getDistributionListRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetDistributionList" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getDomainInfoRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetDomainInfo" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getDomainRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetDomain" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getEffectiveRightsRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetEffectiveRights" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getGrantsRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetGrants" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getLicenseInfoRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetLicenseInfo" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getMailboxRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetMailbox" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getMailboxStatsRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetMailboxStats" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getPublishedShareInfoRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetPublishedShareInfo" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getQuotaUsageRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetQuotaUsage" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getRightRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetRight" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getRightsDocRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetRightsDoc" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getServerNIfsRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetServerNIfs" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getServerRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetServer" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getServerStatsRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetServerStats" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getServiceStatusRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetServiceStatus" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getShareInfoRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetShareInfo" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getVersionInfoRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetVersionInfo" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getVolumeRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GetVolume" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="grantRightRequest">
      <soap:operation soapAction="urn:zimbraAdmin/GrantRight" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="modifyAccountRequest">
      <soap:operation soapAction="urn:zimbraAdmin/ModifyAccount" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="modifyCalendarResourceRequest">
      <soap:operation soapAction="urn:zimbraAdmin/ModifyCalendarResource" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="modifyConfigRequest">
      <soap:operation soapAction="urn:zimbraAdmin/ModifyConfig" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="modifyCosRequest">
      <soap:operation soapAction="urn:zimbraAdmin/ModifyCos" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="modifyDataSourceRequest">
      <soap:operation soapAction="urn:zimbraAdmin/ModifyDataSource" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="modifyDelegatedAdminConstraintsRequest">
      <soap:operation soapAction="urn:zimbraAdmin/ModifyDelegatedAdminConstraints" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="modifyDistributionListRequest">
      <soap:operation soapAction="urn:zimbraAdmin/ModifyDistributionList" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="modifyDomainRequest">
      <soap:operation soapAction="urn:zimbraAdmin/ModifyDomain" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="modifyServerRequest">
      <soap:operation soapAction="urn:zimbraAdmin/ModifyServer" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="modifyVolumeRequest">
      <soap:operation soapAction="urn:zimbraAdmin/ModifyVolume" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="noOpRequest">
      <soap:operation soapAction="urn:zimbraAdmin/NoOp" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="pingRequest">
      <soap:operation soapAction="urn:zimbraAdmin/Ping" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="publishShareInfoRequest">
      <soap:operation soapAction="urn:zimbraAdmin/PublishShareInfo" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="purgeMessagesRequest">
      <soap:operation soapAction="urn:zimbraAdmin/PurgeMessages" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="reIndexRequest">
      <soap:operation soapAction="urn:zimbraAdmin/ReIndex" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="recalculateMailboxCountsRequest">
      <soap:operation soapAction="urn:zimbraAdmin/RecalculateMailboxCounts" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="reloadLocalConfigRequest">
      <soap:operation soapAction="urn:zimbraAdmin/ReloadLocalConfig" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="removeAccountAliasRequest">
      <soap:operation soapAction="urn:zimbraAdmin/RemoveAccountAlias" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="removeAccountLoggerRequest">
      <soap:operation soapAction="urn:zimbraAdmin/RemoveAccountLogger" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="removeDistributionListAliasRequest">
      <soap:operation soapAction="urn:zimbraAdmin/RemoveDistributionListAlias" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="removeDistributionListMemberRequest">
      <soap:operation soapAction="urn:zimbraAdmin/RemoveDistributionListMember" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="renameAccountRequest">
      <soap:operation soapAction="urn:zimbraAdmin/RenameAccount" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="renameCalendarResourceRequest">
      <soap:operation soapAction="urn:zimbraAdmin/RenameCalendarResource" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="renameCosRequest">
      <soap:operation soapAction="urn:zimbraAdmin/RenameCos" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="renameDistributionListRequest">
      <soap:operation soapAction="urn:zimbraAdmin/RenameDistributionList" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="revokeRightRequest">
      <soap:operation soapAction="urn:zimbraAdmin/RevokeRight" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="runUnitTestsRequest">
      <soap:operation soapAction="urn:zimbraAdmin/RunUnitTests" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="searchCalendarResourcesRequest">
      <soap:operation soapAction="urn:zimbraAdmin/SearchCalendarResources" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="searchDirectoryRequest">
      <soap:operation soapAction="urn:zimbraAdmin/SearchDirectory" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="setCurrentVolumeRequest">
      <soap:operation soapAction="urn:zimbraAdmin/SetCurrentVolume" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="setPasswordRequest">
      <soap:operation soapAction="urn:zimbraAdmin/SetPassword" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="verifyIndexRequest">
      <soap:operation soapAction="urn:zimbraAdmin/VerifyIndex" style="document"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:soapHdrContext" part="context" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="AdminService">
    <port name="AdminServicePort" binding="tns:AdminServicePortBinding">
      <soap:address location="https://localhost:7071/service/admin/soap"/>
    </port>
  </service>
</definitions>
